<!DOCTYPE html>
<html lang="en">
<head>
  <title>Christopher Bothwell</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css?v={% version %}">
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</body>
</html>
