<div class="flex flex-col max-w-4xl mx-auto mt-12 place-items-center sm:flex-row-reverse sm:place-content-center">
  <div class='mb-14'>
    {% image "src/assets/profilepicutre.jpg" "Christopher Bothwell" "(min-width: 30em) 50vw, 100vw" "rounded-full" %} 
  </div>
  <div class='block mb-4'>
    <h1 class='text-2xl'>I'm Christopher Bothwell,</h1>
    <h2 class='text-xl'>a full stack engineer with an interest in data analytics, user experience, and solution architecture. Welcome.</h2>
  </div>
</div>
