<!DOCTYPE html>
<html lang="en">
{% render head, title: pageTitle %}
<body class=''>
  <header>
  {% assign pageCollection = collections.page | sort: "data.priority" %}
  {% render menu, page: page, pageCollection: pageCollection %}
  </header>
  <main class='m-5'>
    {{ content }}
  </main>
</body>
</html>
